<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home/Encrypt</title>
</head>
<body>
    <form method="POST">
        {{ encrypt_form.hidden_tag() }}
        {{ encrypt_form.key.label }} {{ encrypt_form.key() }}
        <br>
        Enter a <strong>message: </strong>
        <br>
        {{ encrypt_form.decoded_message() }}
        <br>
        {{ encrypt_form.submit() }}
    </form>
</body>
</html>